/*  Week 4 
 	MiU 1202 
 	Janis Jae Hines 
 	February 21, 2012*/  
 	
 label.error{
 display:block; margin:10px 0; color:#cc0000;
 }
 	
#newerrorslink{display:none;}
	
 	
 	
/*
html {
    background-color: #9999CC;
    color: #FBFBFB;
	font-family: Georgia, serif;
	margin: 5px;
	border: 2px #FFFFFF;
	outline: 1px dotted #FFFFFF;
	text-align: center;
}

a{ outline: 1px dotted line;
}
a:hover{color:black; outline:none;}

h1 {
    color: #FFFFFF;
	font-family: Georgia, serif;
	margin: 10px 5px;
	border: 2px solid #FFFFFF;
	padding: 5px;
	background: #3521a7;
}
h4 {
    color: #FFFFFF;
	font-family: Georgia, serif;
	margin: 10px 20px;
	border: 2px solid #FFFFFF;
	padding: 10px;
	background: #3521a7;
}
h3{
    color: #FFFFFF;
	font-family: Georgia, serif;
	margin: 10px 20px;
	border: 2px solid #FFFFFF;
	padding: 10px;
	background: #3521a7;
}
legend {
    color: #4B327D;
}

fieldset {
    border: 1px solid FFFFFF;
}
input {
    background: white;
    cursor: pointer;
}
ol{color: #FFFFFF;
	font-family: Georgia, serif;
	font: 12px;
	margin: 5px 20px;
	border: 2px solid #FFFFFF;
	padding: 10px;
	background: #3521a7;
}
li{
	color: #FFFFFF;
}
ul{
	color: #FFFFFF;
}
nav{
	color: #FFFFFF
	font-style: italic;
	font-family: Georgia, serif;
	font: 12px;
	letter-spacing: 1px;
} */